#vlightbox1 {
	width:117%;
	height:auto;
	margin:0;
}

/*fade*/
#vlightbox1 .vlightbox1 div{
	width:100%;
	background:#000;
	opacity:0.7;
	padding:5px;
	color:#FFF;	
}

#vlightbox1 .vlightbox1 {
	width:45%;
	font-family:"Trebuchet MS",Geneva,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}

#vlightbox1 .vlightbox1 a{
	width:100%;
	height:auto;
	margin:auto;
}

#vlightbox1 .vlightbox1 img{
	width:25%;
	height:auto;
	margin:15px;
	border-color:#29cf55;
	border-style:outset;
	border-width:5px;
	border-radius:15px;
	animation: destello 2s ease-in-out infinite;
	transition: all 0.3s;
}

#vlightbox1 .vlightbox1 img:hover{
	width:27%;
	transform: scale(1.02);
	border-color: #17fc03; 
	transition:all 0.3s;
}

#vlightbox1 .vlightbox1 img::after{
	transform: scale(1.02);
	border-color: #17fc03; 
	transition: transform 0.3s, border-color 0.3s;
}




#vlightbox1 .vlightbox1 div{
	display:none
}

@media screen and (max-width:800px){
	
	#vlightbox1{
		display:flex;
		width:95%;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	
	#vlightbox1 .vlightbox1{
		width:100%;
	}
	
	#vlightbox1 .vlightbox1 a{
		width:95%;
	}
	
	#vlightbox1 .vlightbox1 img{
		width:95%;
	}
	
}
